@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { box-sizing: border-box; margin: 0; padding: 0; }
  body { background: #FEF9F2; color: #0B0404; font-family: var(--lato), Arial, sans-serif; }
}
